
@{
    ViewBag.Title = "CadastroErro";
    Layout = "~/Views/Shared/LayoutPrincipal.cshtml";
}



<div class="container mt-5">

    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

    <div class="row">

        <div class="col-12 text-center my-5">
            <h2 class="">Não foi possível concluir o cadastro.</h2>
        </div>

    </div>

    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

</div>

