
@{
    ViewBag.Title = "Index";
    Layout = @ViewBag.Layout;
}

<div class="container mt-5">
    <div class="row">

        <div class="col-12 text-center my-5">
            <h1 class="display-4"><i class="fas fa-paper-plane cor-icones"></i>  Contato</h1>
        </div>

    </div>

    <!-- Form -->
    <div class="row justify-content-center mb-5">
        <div class="col-sm-12 col-md-10 col-lg-8">

            <form>

                <div class="form-row">

                    <div class="form-group col-sm-12">
                        <label for="inputEnd">Seu nome</label>
                        <input type="text" class="form-control" id="inputEnd" placeholder="Nome completo">
                    </div>

                </div>

                <div class="form-row">

                    <div class="form-group col-sm-12">
                        <label for="inputEnd">Seu e-mail</label>
                        <input type="text" class="form-control" id="inputEnd" placeholder="Endereço de e-mail">
                    </div>

                </div>

                <div class="form-row">

                    <div class="form-group col-sm-12">
                        <label for="inputCidade">Sua mensagem</label>
                        <textarea class="form-control" id="message" name="message" placeholder="Mensagem..." rows="5"></textarea>
                    </div>
                </div>

                <div class="form-row">

                    <div class="col-sm-12 text-center">
                        <button type="submit" class="btn btn-principal btn-lg">Enviar</button>
                    </div>

                </div>

            </form>

        </div>
    </div>
    <!-- Fim do Form -->


</div>

